.App {
  text-align: center;
}



/* HEADER */

.App-header {
  border-bottom: 2px solid #7e57c2;
  background-color: white;
  padding: 10px 0px 10px 20px;
}

.App-header h1 {
  text-align: left;
  margin: 0;
  font-weight: 400;
  font-size: 28px;
}



/* CONTENT */

.App-content {
  max-width: 600px;
  margin: 0 auto;
}



/* Intro */

.intro {
  margin-top: 75px;
  margin-bottom: 75px;
}
.intro h2 {
  font-weight: 400;
  font-size: 28px
}

.intro p {
  font-size: 20px;
  font-weight: 300;
}

.dice {
  color:#7e57c2;
  padding-right: 8px;
  font-size: 48px;
}



/* Form */

.form-label {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.form-input {
  display: block;
  width: 100%;
  height: 30px;
  border: 2px solid #7e57c2;;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 7px;
}

.form-heading {
  font-weight: 400;
  text-align: left;
  color: #7e57c2;
}

.form-button {
  background-color: #7e57c2;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 120px;
  height: 50px;
}

.form-span {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}



/* RESULTS */

.results-table {
  width: 100%;
}

table {
  background-color: white;
  border-collapse: collapse;
  border: 0px;
}

th, td {
  padding-top: 4px;
  padding-bottom: 4px;
}

tr:nth-child(even) {
  background-color: #e1d9f1;
}



/* Errors */

.errors {
  text-align: left;
  font-size: 20px;
  color: #D02434;
}

.error-message {
  color: #D02434;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.error-arrow {
  color: #D02434;
}
